{% extends "notebook/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Add a New Note</h2>
    <hr/>
    <form method="POST" action="{% url 'notebook:add_note' %}" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Note title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="{{ form.name.html_name }}" value="{{ form.name.value|default:'' }}">

            {% if form.errors.name %}
            <div class=" alert alert-danger">{{ form.errors.name }}
        </div>
        {% endif %}
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Note description:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="{{ form.description.html_name }}" rows="3">{{ form.description.value|default_if_none:'' }}</textarea>

    {% if form.errors.description %}
    <div class="alert alert-danger">{{ form.errors.description }}</div>
    {% endif %}
</div>
<div class="mb-3">
    <label class="form-label">Select tags:</label>
    <select name="tags" class="form-select" multiple="multiple" required>
        {% for tag in tags %}
        <option value="{{ tag.name }}">{{ tag.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
    <a href="{% url 'notebook:main' %}" class="btn btn-secondary">Back</a>
</div>
</form>
</div>
{% endblock %}
