{% extends "file_manager/base.html" %}
{% block body %}

<div class="container-all-files">
    {% for category, files in files_by_category.items %}
        <h2 class="category-header" style="cursor: pointer">{{ category }} Files</h2>
        <ul class="file-list" style="display: none;">
            {% for file in files %}
                {% if file.file.name %}
                    <li><a href="{% url 'file_manager:download_file' file.id %}">{{ file.file.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
    <hr/>
    <a href="{% url 'file_manager:file_upload' %}" class="btn btn-primary">Return to Upload</a>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var categoryHeaders = document.querySelectorAll('.category-header');

    categoryHeaders.forEach(function(header) {
        header.addEventListener('click', function() {
            var fileList = this.nextElementSibling;
            if (fileList.style.display === 'none' || fileList.style.display === '') {
                fileList.style.display = 'block';
            } else {
                fileList.style.display = 'none';
            }
        });
    });
});
</script>

{% endblock %}
