<form method="post" enctype="multipart/form-data" action="{% url 'file_manager:file_upload' %}">
    {% csrf_token %}
    {{ form.file.label_tag }} {{ form.file }}

    <label for="id_folder">Choose Folder:</label>
     <select name="folder" id="id_folder">
        <option value="" {% if not form.folder.value %}selected{% endif %}></option>
        {% for folder in folders %}
            {% if folder %}
                <option value="{{ folder }}">{{ folder }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <button type="submit">Upload File</button>
</form>

<form method="post" action="{% url 'file_manager:create_folder' %}">
    {% csrf_token %}
    <label for="id_folder">Folder Name:</label>
    <input type="text" name="folder" id="id_folder">
    <button type="submit">Create Folder</button>
</form>

<li><a href="{% url 'file_manager:delete_file' %}">Go to Delete Files</a></li>
<li><a href="{% url 'file_manager:delete_folder' %}">Go to Delete Folders</a></li>
<li><a href="{% url 'file_manager:move_file' %}">Go to Moving Files</a></li>
<li><a href="{% url 'file_manager:file_list' %}">Go to All Files</a></li>


