<form method="post" action="{% url 'file_manager:delete_file' %}">
    {% csrf_token %}
    <label for="id_file">Select File to Delete:</label>
    <select name="file_id" id="id_file">
        {% for file in files %}
            {% if file.file %}
                <option value="{{ file.id }}">{{ file.file.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Delete File</button>
</form>
    <a href="{% url 'file_manager:file_upload' %}">Cancel</a>
