{% extends "file_manager/base.html" %}
{% block body %}
<div class="container mt-4">
    <h2 class="mb-3">Delete File</h2>

    <form method="post" action="{% url 'file_manager:delete_file' %}" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_file" class="form-label">Select File to Delete:</label>
            <select name="file_id" id="id_file" class="form-select">
                {% for file in files %}
                    {% if file.file %}
                        <option value="{{ file.id }}">{{ file.file.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Delete File</button>
    </form>

    <a href="{% url 'file_manager:file_upload' %}" class="btn btn-secondary">Return to Upload</a>
</div>
{% endblock %}
