{% extends 'file_manager/base.html' %}
{% block body %}
<div class="container">
    <div>
        <div class="page-header">
            <h1>File manager</h1>
            <h6>Effortlessly manage and organize your files</h6>
        </div>
        <hr/>

        <!-- File Upload Form -->
        <form method="post" enctype="multipart/form-data" action="{% url 'file_manager:file_upload' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="formFile" class="form-label">{{ form.file.label }}</label>
                <input type="file" name="{{ form.file.name }}" id="formFile" class="form-control"
                       value="{{ form.file.value }}">
            </div>


            <div class="form-group">
                <label for="id_folder">Choose Folder:</label>
                <select name="folder" id="id_folder">
                    <option value="" {% if not form.folder.value %}selected{% endif %}>Select a folder</option>
                    {% for folder in folders %}
                    {% if folder %}
                    <option value="{{ folder }}">{{ folder }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Upload File</button>
        </form>

        <!-- Folder Creation Form -->
        <form method="post" action="{% url 'file_manager:create_folder' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_folder">Create new folder:</label>
                <input type="text" name="folder" id="id_new_folder" placeholder="Enter folder name here">
            </div>
            <button type="submit">Create</button>
        </form>

        <!-- Navigation Links -->
        <ul class="link-list">
            <li><a href="{% url 'file_manager:delete_file' %}" class="btn btn-danger" style="color: white">Delete Files</a></li>
            <li><a href="{% url 'file_manager:delete_folder' %}" class="btn btn-danger" style="color: white">Delete Folders</a></li>
            <li><a href="{% url 'file_manager:move_file' %}" class="btn btn-secondary" style="color: white">Move Files</a></li>
            <li><a href="{% url 'file_manager:file_list' %}" class="btn btn-info" style="color: white">All Files</a></li>
        </ul>
    </div>
</div>
{% endblock %}
