<html>
<head>
    <title>Folder Contents</title>
</head>
<body>
    <h2>Folder Contents</h2>
    <h2>Folders:</h2>
    <ul>
        {% for folder, folder_url in folders %}
            <li><a href="{{ folder_url }}">{{ folder }}</a></li>
        {% endfor %}
    </ul>

    <h2>Files:</h2>
    <ul>
        {% for folder in folder_contents %}
                <li><a href="{{ list_s3_contents_url }}?folder_name={{ folder }}">{{ folder|urlencode }}</a></li> <!-- ToDo обрізати назву папки, щоб виводити лише назву файлу -->
        {% endfor %}
    </ul>

    <p><a href="{{ list_s3_contents_url }}">Back to List S3 Contents</a></p>
</body>
</html>
