{% block content %}
  <h2>Move File</h2>
  <form method="post" action="{% url 'file_manager:move_file' %}">
    {% csrf_token %}
    <label for="id_file">Select File:</label>
    <select name="file_id" id="id_file">
      {% for file in files %}
            {% if file.file %}
                <option value="{{ file.id }}">{{ file.file.name }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="id_target_folder">Select Target Folder:</label>
    <select name="target_folder" id="id_target_folder">
      {% for folder in folders %}
        <option value="{{ folder }}">{{ folder }}</option>
      {% endfor %}
    </select>

    <button type="submit">Move File</button>
  </form>
{% endblock %}
